{% extends 'base.html' %}
{% block content %}
<style>
    table {
      text-align: center;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      margin: 0px auto;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    th {
        color: white;
    }
    td {
        background-color: #D6EEEE;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
<table>
    <tr>
      <th>Name</th>
      <th>IP</th>
      <th>Virtual IP</th>
      <th>Received</th>
      <th>Sent</th>
      <th>Connected since</th>
    </tr>
    {% for client in clients %}
    <tr>
      <td>{{ client["name"]}}</td>
      <td>{{ client["ip"]}}</td>
      <td>{{ client["virt_ip"]}}</td>
      {% set num = convert_bytes(client["sent"]) %}
      <td >{{ num }}</td>
      {% set num = convert_bytes(client["received"]) %}
      <td>{{ num }}</td>
      <td>{{ client["connected_since"]}}</td>
    </tr>
    {% endfor %}
<script>
    document.querySelector("body > div.topnav > a:nth-child(2)").classList.add("active")
</script>
{% endblock %}